.projects {
  border-top: 1px solid var(--color-border);
}


/* =========================
   HEADER
========================= */

.projects_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  gap: 40px;

  margin-bottom: 70px;
}

.projects_title-group {
  display: flex;
  align-items: baseline;
  gap: 18px;
}

.projects_header-description {
  max-width: 380px;

  font-size: 14px;
  line-height: 1.7;

  color: var(--color-text-secondary);
}


/* =========================
   PROJECT
========================= */

.projects_list {
  display: flex;
  flex-direction: column;
}


.project:last-child {
  border-bottom: 1px solid var(--color-border);
}

.project:hover {
  background-color: rgba(255, 255, 255, 0.01);
}


/* =========================
   FOOTER
========================= */

.projects_footer {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;

  align-items: center;

  gap: 16px;

  padding-top: 28px;
}

.projects_footer-icon {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--color-border);

  color: var(--color-primary);
}

.projects_footer p {
  max-width: 600px;

  font-size: 13px;
  line-height: 1.6;

  color: var(--color-text-secondary);
}

.projects_github {
  display: flex;
  align-items: center;
  gap: 7px;

  font-family: var(--font-mono);
  font-size: 10px;

  color: var(--color-text);

  transition:
    color var(--transition-fast),
    transform var(--transition-fast);
}

.projects_github:hover {
  color: var(--color-primary);

  transform: translateX(3px);
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {

  .projects_header {
    align-items: flex-start;
    flex-direction: column;
  }
}


@media (max-width: 600px) {
  .projects_header {
    margin-bottom: 45px;
  }

  .projects_title-group {
    gap: 12px;
  }

  .projects_footer {
    grid-template-columns: auto minmax(0, 1fr);
  }

  .projects_github {
    grid-column: 2;
  }
}